// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

body {
    font-family: $font-family;
    padding: 10px;
}

section {
    h3 {
        &.title {
            font-size: 2.5rem;
            color: $third;
            font-weight: 900;
        }
    }
}

// Pagination

.pagination-nav {
    margin: 0 auto;
}

.fa-circle {
    color: $secondary;
}

.fa-twitter, .fa-facebook {
    color: #000;
}

.entry-title {
    font-weight: 900;
    text-transform: uppercase;
}


.entry-content {
    font-weight: 300;
}

.navbar-toggler {
    border: none;
}

@include media-breakpoint-down(xs) { 
    .navbar-brand {
        img {
            width: 150px !important;
        }
    }
    .masthead {
        height: 91.5vh !important;
    }
}

.bg-fixed {
    background: #fff;
    z-index: 999;
    box-shadow: 0px 0px 40px rgba($primary, 0.7);
}

.masthead {
    height: 60vh;
    padding: 0;
    h1 {
        font-weight: 900;
    }
}

// .page, .category, .single, .archive  {
//     padding-top: 100px;
// }

.home {
    padding-top: 0 !important;
    #wrapper-footer {
        margin-top: 0 !important;
    }
}

.wrapper {
    padding: 0;
}

.more-link {
    display: table;
    border: 2px solid $secondary;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 900;
    padding: 3px 15px;
    margin-top: 20px;
}

.pennellata {
    background: url(../images/pennellata.png) center center no-repeat;
    background-size: contain;
}   
.pennellata-sx {
    background: url(../images/pennellata-sx.png)  5% center no-repeat;
}
.pennellata-dx {
    background: url(../images/pennellata-sx.png)  center right no-repeat;
}

.bg-transparent {
    background-color: transparent;
}

// NAVBAR
.navbar-light {
    .navbar-nav {
        .nav-item {
            border: 2px solid transparent;
        }
        .nav-link {
            font-weight: 700;
            padding: .3rem .8rem;
            text-transform: uppercase;
            color: #000;
        }
        .active {
            border: 2px solid #000;
            border-radius: .25rem;
        }
    }
    margin-bottom: $grid-gutter-width;
}

// STORIA

// NEWS  

.news-item {
    min-height: 40vh;
    .news-content {
        background: rgba(255, 255, 255, 0.95);
        h3 {
            font-size: 1.2rem;
            color: $third;
            font-weight: 900;
        }
    }
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

// PAGINATION 

.page-item {
    border-radius:0;
    margin-right: 15px;
    &.active {
        .page-link {
            border: 1px solid $secondary;
            background: none;
            color: $primary;
        }
    }
}


//  MAPPA 

.section-mappa {
    background: url(../images/img-mappa.jpg) center center;
    background-size: cover; 
    height: 50vh;
}


// ARCHIVIO ARTISTI

.artista-name {
    h3 {
        font-weight: 900;
    }
}

// wpcf7-form

.wpcf7-form {
    .btn-outline-primary, .wpcf7 input[type=submit] {
        color: #1f1f1f;
        background-color: transparent;
        background-image: none;
        border: 3px solid $secondary !important;
    }
    .form-control, .wpcf7 .wpcf7-validation-errors, .wpcf7 input[type=color], .wpcf7 input[type=date], .wpcf7 input[type=datetime-local], .wpcf7 input[type=datetime], .wpcf7 input[type=email], .wpcf7 input[type=file], .wpcf7 input[type=month], .wpcf7 input[type=number], .wpcf7 input[type=range], .wpcf7 input[type=search], .wpcf7 input[type=submit], .wpcf7 input[type=tel], .wpcf7 input[type=text], .wpcf7 input[type=time], .wpcf7 input[type=url], .wpcf7 input[type=week], .wpcf7 select, .wpcf7 textarea {
        border-radius: 0;
        border: 2px solid rgba(34,34,34, 0.2);
    }
}

// FOOTER 

#wrapper-footer {
    background: $third;
    margin-top: 5rem;
    .site-footer {
        text-align: center;
        color: $white;
        font-size: .8rem;
        a {
            color: $secondary;
        }
        .copyright {
            font-size: 1rem;
        }
    }
    .scroll-top {
        position: absolute;
        top: -98px; 
        width:100%;
    }
}